Repository Winnie-The-POO-ARGBroker/Winnie-The-Food, pull requests merged in 2025-06, with the labels that each got.

#63 Creación del Portafolio Franco Arce
  mis_recetas.html
  portfolios/franco/Franco.png
  portfolios/franco/index.html
  portfolios/franco/styles/main.css
Labels: portfolio

#66 se sube el portfolio
  portfolios/gisele/index.html
  portfolios/gisele/styles/main.css
Labels: enhancement

#68 Creacion de portfolio Gianna Giavarini
  .vscode/settings.json
  portfolios/gianna/estilos.css
  portfolios/gianna/img/css3.svg
  portfolios/gianna/img/database-solid (1).svg
  portfolios/gianna/img/favicon.ico
  portfolios/gianna/img/figma.svg
  portfolios/gianna/img/fundaciongarabato.png
  portfolios/gianna/img/git.svg
  portfolios/gianna/img/html-5.svg
  portfolios/gianna/img/js-brands (1).svg
  portfolios/gianna/img/portfolio.png
  portfolios/gianna/img/python-brands (1).svg
  portfolios/gianna/index.html
Labels: enhancement, portfolio

#74 Carga de diag. de clase y corrección de errores
  detalle_receta.html
  docs/Diagrama de clase.pdf
Labels: doc, fix

#75 Creacion de portafolio Rodrigo
  portfolios/rodrigo/CV_Rodrigo.pdf
  portfolios/rodrigo/images/arrow-icon.png
  portfolios/rodrigo/images/broker.jpg
  portfolios/rodrigo/images/circular-text.png
  portfolios/rodrigo/images/close-black.png
  portfolios/rodrigo/images/code-icon.png
  portfolios/rodrigo/images/datachef.png
  portfolios/rodrigo/images/dev-icon.svg
  portfolios/rodrigo/images/download-icon.png
  portfolios/rodrigo/images/edu-icon.png
  portfolios/rodrigo/images/figma.png
  portfolios/rodrigo/images/food.png
  portfolios/rodrigo/images/footer-bg-color.png
  portfolios/rodrigo/images/git.png
  portfolios/rodrigo/images/github.png
  portfolios/rodrigo/images/header-bg-color.png
  portfolios/rodrigo/images/icon-1.png
  portfolios/rodrigo/images/icon-2.png
  portfolios/rodrigo/images/icon-3.png
  portfolios/rodrigo/images/icon-4.png
  portfolios/rodrigo/images/logo.png
  portfolios/rodrigo/images/mail_icon.png
  portfolios/rodrigo/images/menu-black.png
  portfolios/rodrigo/images/moon_icon.png
  portfolios/rodrigo/images/mysql.png
  portfolios/rodrigo/images/powerbi.png
  portfolios/rodrigo/images/profile-img.png
  portfolios/rodrigo/images/project-icon-dark.png
  portfolios/rodrigo/images/project-icon.png
  portfolios/rodrigo/images/python.png
  portfolios/rodrigo/images/react.png
  portfolios/rodrigo/images/right-arrow-white.png
  portfolios/rodrigo/images/send-icon.png
  portfolios/rodrigo/images/user-image.png
  portfolios/rodrigo/images/vscode.png
  portfolios/rodrigo/index.html
  portfolios/rodrigo/script.js
  portfolios/rodrigo/styles/styles.css
  portfolios/rodrigo/tailwind.config.js
Labels: enhancement, portfolio

#76 Agrego Bootstrap y diseño responsive en paginas carga nueva receta
  crear_receta_paso1.html
  crear_receta_paso2.html
  crear_receta_paso3.html
  styles/main.css
Labels: responsive

#77 Correccion de errores
  crear_receta_paso1.html
  crear_receta_paso2.html
  crear_receta_paso3.html
Labels: fix

#78 Modificacion de accesos para navegabilidad de la pagina.
  mis_recetas.html
  sobre_nosotros.html
  styles/main.css
Labels: fix
